#popcorn {
    display: inline-block;
    width: 134px;
    height: 120px;
    background-image: url('https://popper.js.org/images/popcorn-box.svg');
    margin-left: 80px;
  }

  #tooltip {
    display: inline-block;
    background: #ffffff;
    color: #643045;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 4px;
  }