<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="toast">
    <div class="toast-header">
        <img src="../../../../assets/icons/zLogo.ico" style="max-height: 10%; max-width: 10%;" class="rounded me-2" alt="myimagehere">
        <strong class="me-auto">ZeeFactor</strong>
        <small class="text-muted">now</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        {{message}}
    </div>
</div>